<div class="header" >
    <div class="header-logo" >
        <h3>Logo here</h3>
    </div>
    <ul class="header-menu" >
        <li><a href="#">Free Shipping</a></li>
        <li><a href="#">Partners</a></li>
        <li><a href="#">About</a></li>
    </ul>
    <ul class="header-perfil" >
        <li><a href="#"  > <mat-icon matBadge="{{productsFavoriteCount}}" matBadgePosition="above after" matBadgeColor="accent" [style.color]="'yellow'" >star</mat-icon> </a> </li>
        <li><a href="#"><mat-icon matBadge="{{productsCartCount}}" matBadgePosition="above after" matBadgeColor="primary"  [style.color]="'blue'" >shopping_cart</mat-icon> </a></li>
        <li><a href="#"> <mat-icon [style.color]="'green'" >account_circle</mat-icon> </a></li>
    </ul>
</div>
